* {
  margin: 10px;
  padding: 0px;
}
#header {
  margin:auto;
  width:500px;
  font-family:Arial, Helvetica, sans-serif;
}


.mensaje{
  margin: 10px 0px;
  border: 1px solid;
  padding: 15px 10px 15px 10px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: fixed;
  color: #000;
  background-color: #DFF2BF;
  display:inline-block;
  border-radius: 0px 16px 0px 0px;
  right:5px;
  -webkit-animation-duration:3s;
  -webkit-animation-name:slidein;
}

@keyframes slidein{
  from{
    right:50px;
  }
  to{
    right:10px;
  }
}


ul.nav {
display: table-cell;
}
.nav > li {
float:initial;
}
.nav li a {
background-color:#000;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}
.nav li a:hover {
background-color:#434343;
}
.nav li ul {
display:none;
position:absolute;
min-width:140px;
}
.nav li:hover > ul {
display:block;
}
.nav li ul li {
position:relative;
}
.nav li ul li ul {
right:-140px;
top:0px;
}

h1 {
  font: bold 20px verdana, sans-serif;
}
h2 {
  font: bold 14px verdana, sans-serif;
}
body{
  text-align: center;
}

#agrupar{
  width:70%;
  margin: 15px auto;
  text-align:left;
}
#cabecera{
  background: #1D9A29;
  border: 1px solid #999999;
  padding: 20px;
}
#contenido{
  background: #CCCCCC;
  border: 1px solid #AAAAAA;
  padding:0px;
}
#pie{

}
#titulo{
  text-align: center;
  font: bold 30px;
}
div.reportes{
  display:inline-block;
  margin: 4px;
  border: 1px solid green;
  padding: 45px;
  background: gray;
}

#mensajeCabecera{
  margin-top:0px;
  font: bold 40px; 
}

h2.mensajeCabecera{
  margin:0px;
}
.presupuestos{
  display: block;
  margin: 5px;
  padding: 20px;
  border: 0;
  background: gray;
}

.tabla {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tabla table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tabla tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tabla table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tabla table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tabla tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tabla tr:hover td{
	
}
.tabla tr:nth-child(odd){ background-color:#e5e5e5; }
.tabla tr:nth-child(even)    { background-color:#ffffff; }.tabla td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tabla tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabla tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabla tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabla tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.tabla tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
}
.tabla tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabla tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
