* {
  margin: 0px;
  padding: 0px;
}
h1 {
  font: bold 20px verdana, sans-serif;
}
h2 {
  font: bold 14px verdana, sans-serif;
}
body{
  text-align: center;
}

#agrupar{
  width:90%;
  margin: 15px auto;
  text-align:left;
}
#cabecera{
  background: #1D9A29;
  border: 1px solid #999999;
  padding: 20px;
}
#contenido{
  background: #CCCCCC;
  border: 1px solid #AAAAAA;
}
#pie{

}
#titulo{
  text-align: center;
  font: bold 30px;
}
div.reportes{
  display:inline-block;
  margin: 4px;
  border: 1px solid green;
  padding: 45px;
  background: gray;
}

#mensajeCabecera{
  margin-top:0px;
  font: bold 40px; 
}

h2.mensajeCabecera{
  margin:0px;
}
.presupuestos{
  display: block;
  margin: 5px;
  padding: 20px;
  border: 0;
  background: gray;
}
