{% extends "gastar.html" %}
{% block titulo %}
<title>Tus gastos</title>
{% endblock %}
{% block encabezado %}
Tus gastos
{% endblock %}

{% block gastos %}
    <div class="tabla">
    <table>
      <tr>
        <td><strong>Categoria</strong></td>
        <td><strong>Fecha</strong></td>
        <td><strong>Gasto</strong></td>
      </tr>
    {% for dato in datos %}
    <tr>
    <td>{{dato[1]}}:</td>
    <td>{{dato[2]}}</td>
    <td>{{dato[0]}}</td>
    </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
