{% extends "layout.html" %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}

{% block encabezado %}

<div>
  Encabezado
  <style type="text/css">
			
			* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:500px;
				font-family:Arial, Helvetica, sans-serif;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				display : table-cell;
			}
			
			.nav li a {
				background-color:#1D9A29;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
}
.nav li ul {
display:none;
position:absolute;
min-width:140px;
}
.nav li:hover > ul {
display:block;
}
.nav li ul li {
position:relative;
}
.nav li ul li ul {
right:-140px;
top:0px;
}
</style>
    <ul class="nav">
        <li><a href="">Inicio</a></li>
        <li><a href="/reporte">Reporte</a>
        <li><a href="/presupuestar">Presupuestos</a>
        <li><a href="/gastos/3">gastos</a>
        <li><a href="/nueva_categoria">Agregar Categoria</a>
        <li><a href="/categoria">Categorias</a>
    </ul>
  </div>
{% endblock %}

{% block body %}
Cuerpo de la pagina
{% endblock %}
