{% extends 'layout.html' %}

{% block titulo %}
<title>El titulo :D</title>
<link rel="stylesheet" type="text/css" href="static/tcal.css" >
<script type="text/javascript" src="static/tcal.js"></script>
<script language="JavaScript" type="text/javascript">
  function muestracapa(id)
  {
     if(id)
      document.getElementById('temporizar').style.display = "none";

    else
      document.getElementById('temporizar').style.display = "inline";

   }
</script>
{% endblock %}

{% block encabezado %}
El encabezado
{% endblock %}

{% block body %}
<h3>¿Que tienes que pagar?</h3>
<form action"" method= "post">
  <br>
  Nombre
  <input type"text" name="nombre">
  <br>
  Presupuesto inicial
  <input type"text" name="presupuesto">
  <br>
  ¿Cuanto vas a gastar en esta categoria?
  <input type"text" name="a_gastar">
  <br>
  Temporizar
  <input type = "checkbox" name= "temporizar" checked onclick="muestracapa(this.checked);">
  <br>
  <div id="temporizar">
    De:
    <input type"text" name="de">
    <br>
    A:
    <input type"text" name="a">
    <br>
    Repetir:
    <input type"text" name="repetir">
    </div>
  <input type="submit" value="Agregar categoria">
</form>

{% endblock %}
