{% extends "presupuestos.html" %}
  {% block presupuestar %}
  <div display="inline-block">
  <form action= "{{url_for('presupuestar')}}"method="post">
    <select name="categorias">
    {% for categoria in categorias%}
      <option>{{categoria}}</option>
    {% endfor %}
    </select>
    <br>
    ¿Cuanto vas a agregar para esa categoria?<input type="text" name="dinero">
    <br>
    <input type="submit" value="Presupuestar">
  </form>
  </div>
  <div display= "inline-block">
  Tienes {{dinero_para_presupuestar}} pesos para presupuestar
  </div>
  {% endblock %}

