{% extends "layout.html" %}
  {% block titulo %}
  <title>Tu reporte</title>
  {% endblock %}
  {% block encabezado %}
  <h2 class="mensajeCabecera">
  Reporte de: {{usuario}}
  </h2>
  {% endblock %}
  {% block body %}
  <div id="titulo">
    <h2>Categorias</h2>
  </div>
  <div id="a_mostrar">
    {% for dato in datos %}
      <a href="facebook.com">
        <div class="reportes">
        <h3>{{dato[0]}}</h3>
        <progress value ="{{dato[2]}}" max = "{{dato[1]}}"></progress>
        <h5>{{dato[3]}}</h5>
        </div>
      </a>
      {% endfor %}
  </div>
  {% endblock %}

